Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

working connection
  analytics/src/analytics/cli.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

try for a failure
  .github/workflows/ci-frontend-a11y.yml
  frontend/.pa11yci.json
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

add color contrast ignore back in
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

try to upload screenshot-output dir
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

list screenshots-output
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

updates
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

cleanup
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

space step
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

remove unnecessary pa11y package
  frontend/package-lock.json
  frontend/package.json
Owners: @andycochran, @acouch, @SammySteiner

try post results as PR comment
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try again
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

list files
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

create the frontend dir
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

revert ci file
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

added sticky searchbar
  frontend/src/app/[locale]/search/SearchForm.tsx
Owners: @andycochran, @acouch, @SammySteiner

update cli method; add suggested setting change
  analytics/src/analytics/cli.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update for var access
  analytics/config.py
  analytics/settings.toml
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

attempt to appease linter; package updates
  analytics/poetry.lock
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

reenable validators
  analytics/config.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update settings vars; fix line length check
  analytics/settings.toml
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

add comment explaining env var override
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

lint
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update pyproject
  analytics/config.py
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

iterating based on feedback
  frontend/src/app/[locale]/search/SearchForm.tsx
  frontend/src/styles/_uswds-theme-custom-styles.scss
Owners: @andycochran, @acouch, @SammySteiner

[Issue #24] Add GET /opportunity/:opportunityId/versions
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/db/models/opportunity_models.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/task/opportunities/set_current_opportunities_task.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get_versions.py
  api/tests/src/db/models/factories.py
  api/tests/src/db/models/test_factories.py
Owners: @jamesbursa, @chouinar

Remove tmp test
  api/tests/src/db/models/test_factories.py
Owners: @jamesbursa, @chouinar

Update database ERD diagrams
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

initial commands
  analytics/Makefile
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

working dynamic sitemap
  frontend/src/app/sitemap.ts
  frontend/src/middleware.ts
  frontend/src/utils/getRoutes.ts
Owners: @andycochran, @acouch, @SammySteiner

format
  frontend/src/utils/getRoutes.ts
Owners: @andycochran, @acouch, @SammySteiner

remove url and try with sitemap
  frontend/.pa11yci.json
  frontend/package.json
Owners: @andycochran, @acouch, @SammySteiner

remove console log
  frontend/src/utils/getRoutes.ts
Owners: @andycochran, @acouch, @SammySteiner

fix health a11y error
  frontend/src/app/[locale]/health/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

split pa11y to mobile and desktop runs
  .github/workflows/ci-frontend-a11y.yml
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
  frontend/package.json
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

add actions for desktop/mobile
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
Owners: @andycochran, @acouch, @SammySteiner

update export cmd
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

add a quick test
  frontend/src/utils/getRoutes.ts
  frontend/tests/utils/getRoutes.test.ts
Owners: @andycochran, @acouch, @SammySteiner

doc change
  frontend/src/utils/getRoutes.ts
Owners: @andycochran, @acouch, @SammySteiner

[Issue #86] Download the search response as a CSV file
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/opportunity_to_csv.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
  api/tests/src/db/models/factories.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren
