Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

another package-lock update
  frontend/package-lock.json
Owners: @andycochran, @acouch, @SammySteiner

debug step
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

debug logs
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

[Issue #69] Remove the BASE_RESPONSE_SCHEMA
  api/src/api/healthcheck.py
  api/src/api/opportunities_v0/opportunity_routes.py
  api/src/api/opportunities_v0/opportunity_schemas.py
  api/src/api/opportunities_v0_1/opportunity_routes.py
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/response_schema.py
  api/src/app.py
  api/tests/src/api/test_healthcheck.py
  api/tests/src/api/test_route_error_format.py
  documentation/api/api-details.md
Owners: @jamesbursa, @chouinar, @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Slightly tidying up
  api/src/api/schemas/response_schema.py
  api/tests/src/api/test_route_error_format.py
Owners: @jamesbursa, @chouinar

remove extra print
  api/tests/src/api/test_route_error_format.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

verify pa11y_output.txt exists step
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

fix package-lock
  frontend/package-lock.json
Owners: @andycochran, @acouch, @SammySteiner

bump to node 20
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

fix a lint error
  frontend/src/app/[locale]/search/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

try with no output file
  .github/workflows/ci-frontend-a11y.yml
  frontend/package.json
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

fix ci file error
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

rename title of ci
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try a larger timeout
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

add an extra sleep
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try with npm run build
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try concurrency and some other defaults
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

attempt to load vars to settings toml
  analytics/config.py
  analytics/settings.toml
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

add debug in ci
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

fix quote error on debug
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try debug in env
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

force fail to get an artifact
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

list all files in working
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

add debug file path
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

update path
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

more path update
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

server log
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try just localhost
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

different json config
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

try with actions
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

simplistic config
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

add screenshot output dir
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

try without chrome executable
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

add all of our pages
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

try with no leading slash
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

try to start api server
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

remove api server and try different settings
  .github/workflows/ci-frontend-a11y.yml
  frontend/.pa11yci.json
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

increase timeout
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

Update .pa11yci.json
  frontend/.pa11yci.json
Owners: @andycochran, @acouch, @SammySteiner

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren
