Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

minor linting fix
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

initial commit
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/styles/_loading.scss
Owners: @andycochran, @acouch, @SammySteiner

fixing formatting
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/styles/_loading.scss
Owners: @andycochran, @acouch, @SammySteiner

initial commit
  frontend/src/components/search/SearchPagination.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

implement changes based on feedback from initial draft review
  api/src/task/opportunities/export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

update opportunity_to_csv
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/services/opportunities_v1/opportunity_to_csv.py
  api/src/task/__init__.py
  api/src/task/opportunities/export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

add test for export_opportunity_data_task
  api/local.env
  api/src/task/opportunities/export_opportunity_data_task.py
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

implement changes based on feedback from initial draft review
  api/src/task/opportunities/export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

update with review feedback
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

add opportunities that should not get fetched
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

Update comment
  api/tests/src/task/opportunities/test_export_opportunity_data_task.py
Owners: @jamesbursa, @chouinar

[Issue #179] Incrementally load search data
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_response.py
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @jamesbursa, @chouinar

finishing tests
  frontend/src/components/search/SearchPagination.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

merge conflict fixing
  frontend/src/components/search/SearchPagination.tsx
Owners: @andycochran, @acouch, @SammySteiner

typing issue
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

typing issue
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

typing issue
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

typing issue
  frontend/tests/components/search/SearchPagination.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

fixing formatting
  frontend/src/components/search/SearchPagination.tsx
Owners: @andycochran, @acouch, @SammySteiner

CLeanup, tests, more impl
  api/src/adapters/search/opensearch_client.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/backend/load_search_data.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @jamesbursa, @chouinar

removing log statements
  frontend/src/components/search/SearchPagination.tsx
Owners: @andycochran, @acouch, @SammySteiner

initial commit
  frontend/.eslintrc.js
  frontend/src/app/api/BaseApi.ts
Owners: @andycochran, @acouch, @SammySteiner

More docs
  api/src/adapters/search/opensearch_client.py
Owners: @jamesbursa, @chouinar

[Issue #184] Pin Python version to 3.12 + dependency updates
  api/Dockerfile
  api/README.md
  api/poetry.lock
  api/pyproject.toml
  documentation/api/package-dependency-management.md
Owners: @jamesbursa, @chouinar, @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

[Issue #188] More filters in search schema
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/extension/field_validators.py
  api/src/api/schemas/search_schema.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @jamesbursa, @chouinar

Add examples
  api/src/api/opportunities_v1/opportunity_routes.py
Owners: @jamesbursa, @chouinar

Adding some docs
  api/src/api/schemas/search_schema.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

Remove uncessary file
  frontend/src/components/search/.SearchResultsHeader.tsx.swp
Owners: @andycochran, @acouch, @SammySteiner

Add vim to .gitingore
  .gitignore
Owners: @acouch, @aplybeah, @chouinar, @SammySteiner

Update docker-compose.yml to specify platform
  frontend/docker-compose.yml
Owners: @andycochran, @acouch, @SammySteiner

Update package-lock.json for webpack upgrd
  frontend/package-lock.json
Owners: @andycochran, @acouch, @SammySteiner

WIP
  api/src/adapters/search/opensearch_query_builder.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @jamesbursa, @chouinar

[Issue #191] Cleanup makefile commands around OpenSearch
  api/Makefile
  documentation/api/database/database-management.md
Owners: @jamesbursa, @chouinar, @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Update API packages
  api/poetry.lock
  api/pyproject.toml
Owners: @jamesbursa, @chouinar

More tests and docs
  api/src/adapters/search/opensearch_query_builder.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @jamesbursa, @chouinar

WIP
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @jamesbursa, @chouinar

WIP
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @jamesbursa, @chouinar

adding unit tests
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityLink.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
  frontend/tests/components/opportunity/OpportunityLink.test.tsx
  frontend/tests/components/opportunity/OpportunityStatusWidget.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

fixing small css issue
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
Owners: @andycochran, @acouch, @SammySteiner

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren
