Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren

update order
  frontend/src/components/search/SearchSortBy.tsx
Owners: @andycochran, @acouch, @SammySteiner

update parenthesis
  frontend/src/components/search/SearchSortBy.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

Just a few updates to the query box
  api/src/adapters/opensearch/populate_search_index.py
  api/src/services/opportunities_v0_1/search_opportunities.py
Owners: @jamesbursa, @chouinar

[Issue #9] Setup opensearch locally
  api/Makefile
  api/bin/wait-for-local-opensearch.sh
  api/docker-compose.yml
  api/local.env
  api/src/adapters/opensearch/__init__.py
  api/src/adapters/opensearch/opensearch_client.py
  api/src/adapters/opensearch/opensearch_config.py
  api/tests/src/adapters/opensearch/__init__.py
  api/tests/src/adapters/opensearch/test_opensearch.py
Owners: @jamesbursa, @chouinar

Some rearranging of files
  api/src/adapters/opensearch/__init__.py
  api/src/adapters/search/__init__.py
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_config.py
  api/tests/conftest.py
  api/tests/src/adapters/opensearch/test_opensearch.py
Owners: @jamesbursa, @chouinar

Dependency fixes
  api/poetry.lock
  api/pyproject.toml
Owners: @jamesbursa, @chouinar

Trying something else for the network setup?
  api/docker-compose.yml
  api/tests/src/adapters/search/__init__.py
  api/tests/src/adapters/search/test_opensearch.py
Owners: @jamesbursa, @chouinar

Simplify the networking/docker setup
  api/docker-compose.yml
  api/local.env
Owners: @jamesbursa, @chouinar

initial commit
  .github/workflows/ci-frontend-a11y.yml
  frontend/.gitignore
  frontend/.pa11yci.json
  frontend/package-lock.json
  frontend/package.json
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

try npm run dev
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

add timeout
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

wait for server shell script
  .github/workflows/ci-frontend-a11y.yml
  frontend/bin/wait-for-server.sh
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

permissions and wait shell script name change
  .github/workflows/ci-frontend-a11y.yml
  frontend/bin/wait-for-frontend.sh
Owners: @aplybeah, @coilysiren, @andycochran, @acouch, @SammySteiner

update name
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

permissions
  frontend/bin/wait-for-frontend.sh
Owners: @andycochran, @acouch, @SammySteiner

change dir
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

[Issue #12] Setup the opportunity v1 endpoint which will be backed by the index
  api/src/api/opportunities_v1/__init__.py
  api/src/api/opportunities_v1/opportunity_blueprint.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/app.py
  api/src/services/opportunities_v1/__init__.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v0_1/test_opportunity_route_search.py
  api/tests/src/api/opportunities_v1/__init__.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_auth.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

Fix naming conflict
  api/src/api/opportunities_v0_1/opportunity_schemas.py
  api/src/api/opportunities_v1/opportunity_schemas.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

update e2e docs
  frontend/README.md
Owners: @andycochran, @acouch, @SammySteiner

format
  frontend/README.md
Owners: @andycochran, @acouch, @SammySteiner

[Issue #10] Populate the search index from the opportunity tables
  api/src/adapters/search/__init__.py
  api/src/adapters/search/opensearch_client.py
  api/src/app.py
  api/src/search/__init__.py
  api/src/search/backend/__init__.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/backend/load_search_data.py
  api/src/search/backend/load_search_data_blueprint.py
  api/tests/conftest.py
  api/tests/src/adapters/search/test_opensearch.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/search/__init__.py
  api/tests/src/search/backend/__init__.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @jamesbursa, @chouinar

Slightly tidying up
  api/src/search/backend/load_opportunities_to_index.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Owners: @jamesbursa, @chouinar

Upgrade dependencies (May 21, 2024)
  api/poetry.lock
Owners: @jamesbursa, @chouinar

import SQL methods
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

small docs update
  frontend/README.md
Owners: @andycochran, @acouch, @SammySteiner

format
  frontend/README.md
Owners: @andycochran, @acouch, @SammySteiner

[Issue #14] Setup utils for creating requests and parsing responses from search
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/tests/src/adapters/search/test_opensearch_client.py
Owners: @jamesbursa, @chouinar

Move i18n strings for app router
  frontend/public/locales/en/common.json
  frontend/public/locales/es/common.json
  frontend/src/i18n/messages/en/index.ts
Owners: @andycochran, @acouch, @SammySteiner

Move layout and update for app router
  frontend/src/app/layout.tsx
  frontend/src/app/template.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move home page to app router
  frontend/src/app/[locale]/page.tsx
  frontend/src/components/content/IndexGoalContent.tsx
  frontend/src/pages/content/FundingContent.tsx
  frontend/src/pages/index.tsx
  frontend/stories/components/FundingContent.stories.tsx
  frontend/stories/components/GoalContent.stories.tsx
  frontend/stories/components/ProcessContent.stories.tsx
  frontend/stories/pages/Index.stories.tsx
  frontend/tests/components/FundingContent.test.tsx
  frontend/tests/components/GoalContent.test.tsx
  frontend/tests/pages/index.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move search page to app router
  frontend/src/app/[locale]/search/SearchForm.tsx
  frontend/src/app/[locale]/search/actions.ts
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/app/[locale]/search/loading.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchResultsList.tsx
  frontend/src/hooks/useSearchFormState.ts
  frontend/stories/pages/search.stories.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add USWDS icon component
  frontend/public/img/uswds-sprite.svg
  frontend/src/components/USWDSIcon.tsx
  frontend/tests/components/USWDSIcon.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update tests for app router
  frontend/jest.config.js
  frontend/src/pages/_app.tsx
  frontend/tests/errors.test.ts
  frontend/tests/jest-i18n.ts
Owners: @andycochran, @acouch, @SammySteiner

Delete hello api
  frontend/src/pages/api/hello.ts
Owners: @andycochran, @acouch, @SammySteiner

Move layout and update for app router
  frontend/src/components/AppLayout.tsx
  frontend/src/components/Layout.tsx
  frontend/tests/components/Layout.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move newsletter pages to app router
  frontend/src/app/[locale]/newsletter/NewsletterForm.tsx
  frontend/src/app/[locale]/newsletter/confirmation/page.tsx
  frontend/src/app/[locale]/newsletter/page.tsx
  frontend/src/app/[locale]/newsletter/unsubscribe/page.tsx
  frontend/src/pages/newsletter/confirmation.tsx
  frontend/src/pages/newsletter/index.tsx
  frontend/src/pages/newsletter/unsubscribe.tsx
  frontend/tests/pages/newsletter/confirmation.test.tsx
  frontend/tests/pages/newsletter/index.test.tsx
  frontend/tests/pages/newsletter/unsubscribe.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move health page to app
  frontend/src/app/[locale]/health/page.tsx
  frontend/src/pages/health.tsx
Owners: @andycochran, @acouch, @SammySteiner
