Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

Fix a TODO
  api/src/api/opportunities_v1/opportunity_schemas.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

[Issue #88] Adjust docker commands based on recent updates
  api/Makefile
  api/README.md
  api/docker-compose.debug.yml
  api/docker-compose.yml
  api/local.env
  docker-compose.yml
  frontend/docker-compose.yml
Owners: @jamesbursa, @chouinar, @acouch, @aplybeah, @SammySteiner, @andycochran

initial commit
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

initial commit
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/utils/getRoutes.ts
Owners: @andycochran, @acouch, @SammySteiner

fix error param order
  frontend/src/app/api/BaseApi.ts
Owners: @andycochran, @acouch, @SammySteiner

patch test
  frontend/tests/utils/getRoutes.test.ts
Owners: @andycochran, @acouch, @SammySteiner

remove console log
  frontend/src/app/api/BaseApi.ts
Owners: @andycochran, @acouch, @SammySteiner

revert bodyParams to body
  frontend/src/app/api/BaseApi.ts
Owners: @andycochran, @acouch, @SammySteiner

adding changes to pa11y.json files
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
Owners: @andycochran, @acouch, @SammySteiner

update cli command to accept files
  analytics/Makefile
  analytics/config.py
  analytics/poetry.lock
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

lint
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

linting again
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

add typing and fix ts errors
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/opportunity/isSummary.ts
  frontend/tests/utils/isSummary.test.ts
Owners: @andycochran, @acouch, @SammySteiner

add test coverage
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/utils/isSummary.test.ts
Owners: @andycochran, @acouch, @SammySteiner

fixing small typo
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

Add look for temp search page stand-in
  frontend/src/app/[locale]/look/SearchResultList.tsx
  frontend/src/app/[locale]/look/page.tsx
  frontend/src/app/services/search/FormDataService.ts
  frontend/src/app/services/search/SearchFilterManager.ts
  frontend/src/app/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/SearchFetcherUtil.ts
  frontend/src/components/search/SearchCallToAction.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add sorting and layout update
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchResultList.tsx
  frontend/src/app/[locale]/look/SearchResultsHeader.tsx
  frontend/src/app/[locale]/look/SearchSortBy.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update python packages
  api/poetry.lock
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

Add query provider
  frontend/src/app/[locale]/look/QueryProvider.tsx
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

update pyproject; cli and settings to create working connection
  analytics/Makefile
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/settings.toml
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

remove unused
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

reenable validator checks to appease testing; update analytics package comments
  .grype.yml
  analytics/config.py
Owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

skip e2e tests that require slack auth
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

lint
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

Adds status to look search page
  frontend/src/app/[locale]/look/QueryProvider.tsx
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Clean up status WIP
  frontend/src/app/[locale]/look/QueryProvider.tsx
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Readding set items
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Further Clean up status WIP
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Finish logic for status update
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
Owners: @andycochran, @acouch, @SammySteiner

Re-add debounce for status
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
Owners: @andycochran, @acouch, @SammySteiner

match naming conventions;add import app
  .github/workflows/ci-analytics.yml
  analytics/Makefile
  analytics/src/analytics/cli.py
Owners: @aplybeah, @coilysiren, @ebuwa-evbuoma-fike, @widal001, @AlexanderStephensonUSDS

add sprint board data
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update docs
  documentation/analytics/usage.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

change newsletter to subscribe terminology
  frontend/README.md
  frontend/src/app/[locale]/research/ResearchImpact.tsx
  frontend/src/app/[locale]/research/ResearchMethodology.tsx
  frontend/src/app/[locale]/subscribe/SubscribeForm.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/unsubscribe/page.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/content/IndexGoalContent.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/constants/routes.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/utils/getRoutes.ts
  frontend/tests/components/Footer.test.tsx
  frontend/tests/pages/subscribe/confirmation.test.tsx
  frontend/tests/pages/subscribe/index.test.tsx
  frontend/tests/pages/unsubscribe/unsubscribe.test.tsx
  frontend/tests/utils/getRoutes.test.ts
Owners: @andycochran, @acouch, @SammySteiner

format and test fixes
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/e2e/research.spec.ts
  frontend/tests/pages/subscribe/confirmation.test.tsx
  frontend/tests/pages/subscribe/index.test.tsx
  frontend/tests/pages/unsubscribe/unsubscribe.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

remove an extra comment
  frontend/tests/api/OpportunityListingApi.test.ts
Owners: @andycochran, @acouch, @SammySteiner

fix confirmation translation string
  frontend/src/i18n/messages/en/index.ts
Owners: @andycochran, @acouch, @SammySteiner

rename e2e test
  frontend/tests/e2e/subscribe.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren
