Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

Move home page to app router
  frontend/src/components/content/FundingContent.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move feature flag page to app
  frontend/src/app/[locale]/dev/feature-flags/FeatureFlagsTable.tsx
  frontend/src/app/[locale]/dev/feature-flags/page.tsx
  frontend/src/pages/dev/feature-flags.tsx
  frontend/tests/pages/dev/feature-flags.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move 404 page to app router
  frontend/src/app/not-found.tsx
  frontend/src/pages/404.tsx
  frontend/stories/pages/404.stories.tsx
  frontend/tests/e2e/404.spec.ts
  frontend/tests/pages/404.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Adds next-intl config and removes i18n
  frontend/next-i18next.config.js
  frontend/next.config.js
  frontend/src/middleware.ts
  frontend/tsconfig.json
Owners: @andycochran, @acouch, @SammySteiner

Move layout and update for app router
  frontend/tests/components/AppLayout.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update global components for the app router
  frontend/src/components/AppBetaAlert.tsx
  frontend/src/components/BetaAlert.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/GrantsIdentifier.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Hero.tsx
  frontend/tests/components/BetaAlert.test.tsx
  frontend/tests/components/Footer.test.tsx
  frontend/tests/components/FullWidthAlert.test.tsx
  frontend/tests/components/GrantsIdentifier.test.tsx
  frontend/tests/components/Header.test.tsx
  frontend/tests/components/Hero.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Move process page to app
  frontend/src/app/[locale]/process/ProcessIntro.tsx
  frontend/src/app/[locale]/process/ProcessInvolved.tsx
  frontend/src/app/[locale]/process/ProcessMilestones.tsx
  frontend/src/app/[locale]/process/page.tsx
  frontend/src/app/[locale]/research/ResearchArchetypes.tsx
  frontend/src/app/[locale]/research/ResearchImpact.tsx
  frontend/src/app/[locale]/research/ResearchIntro.tsx
  frontend/src/app/[locale]/research/ResearchMethodology.tsx
  frontend/src/app/[locale]/research/ResearchThemes.tsx
  frontend/src/app/[locale]/research/page.tsx
  frontend/src/components/content/ProcessAndResearchContent.tsx
  frontend/src/pages/content/ProcessIntro.tsx
  frontend/src/pages/content/ProcessInvolved.tsx
  frontend/src/pages/content/ProcessMilestones.tsx
  frontend/src/pages/process.tsx
  frontend/stories/pages/process.stories.tsx
  frontend/tests/components/ProcessAndResearchContent.test.tsx
  frontend/tests/components/ProcessIntro.test.tsx
  frontend/tests/components/ProcessInvolved.test.tsx
  frontend/tests/components/ProcessMilestones.test.tsx
  frontend/tests/pages/process.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Remove unused WtGIContent
  frontend/src/pages/content/WtGIContent.tsx
  frontend/stories/components/WtGIContent.stories.tsx
  frontend/tests/components/WtGIContent.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Removes i18next and next-i18n packages
  frontend/package-lock.json
  frontend/package.json
Owners: @andycochran, @acouch, @SammySteiner

Move research page to app
  frontend/src/pages/content/ResearchArchetypes.tsx
  frontend/src/pages/content/ResearchImpact.tsx
  frontend/src/pages/content/ResearchIntro.tsx
  frontend/src/pages/content/ResearchMethodology.tsx
  frontend/src/pages/content/ResearchThemes.tsx
  frontend/src/pages/research.tsx
  frontend/stories/components/ReaserchImpact.stories.tsx
  frontend/stories/components/ReaserchIntro.stories.tsx
  frontend/stories/components/ReaserchThemes.stories.tsx
  frontend/stories/components/ResearchArchetypes.stories.tsx
  frontend/stories/components/ResearchMethodology.stories.tsx
  frontend/stories/pages/research.stories.tsx
  frontend/tests/components/ResearchArchetypes.test.tsx
  frontend/tests/components/ResearchImpact.test.tsx
  frontend/tests/components/ResearchIntro.test.tsx
  frontend/tests/components/ResearchMethodology.test.tsx
  frontend/tests/components/ResearchThemes.test.tsx
  frontend/tests/pages/research.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update storybook settings for app router
  frontend/.storybook/I18nStoryWrapper.tsx
  frontend/.storybook/i18next.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/preview.tsx
Owners: @andycochran, @acouch, @SammySteiner

newsletter timeout
  frontend/tests/e2e/newsletter.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

Update playwright.config.ts to increase timeout
  frontend/tests/playwright.config.ts
Owners: @andycochran, @acouch, @SammySteiner

fix flipping sort order search test
  frontend/tests/e2e/search/search.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

Update playwright config
  frontend/tests/playwright.config.ts
Owners: @andycochran, @acouch, @SammySteiner

Update tests for newsletter and dev server
  frontend/tests/e2e/newsletter.spec.ts
  frontend/tests/playwright.config.ts
Owners: @andycochran, @acouch, @SammySteiner

add debounce on pagination
  frontend/src/components/search/SearchPagination.tsx
Owners: @andycochran, @acouch, @SammySteiner

A lot of tests / comments / cleanup
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/src/pagination/pagination_models.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Owners: @jamesbursa, @chouinar

Add an example
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_query_builder.py
Owners: @jamesbursa, @chouinar

update date util and add test cases
  frontend/src/utils/dateUtil.ts
  frontend/tests/components/search/SearchResultsListItem.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

update debounce to 300ms
  frontend/src/components/search/SearchPagination.tsx
Owners: @andycochran, @acouch, @SammySteiner

[Issue #16] Connect the API to use the search index
  api/src/adapters/search/__init__.py
  api/src/adapters/search/flask_opensearch.py
  api/src/adapters/search/opensearch_client.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/extension/schema_fields.py
  api/src/api/schemas/response_schema.py
  api/src/app.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/search_config.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/conftest.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @jamesbursa, @chouinar

Docs and logging
  api/src/adapters/search/flask_opensearch.py
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

Adjust the allow_none logic
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/extension/schema_fields.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

[Issue #58] Locally, preserve the auth token in the OpenAPI across refreshes
  api/local.env
  api/src/app.py
  api/src/app_config.py
Owners: @jamesbursa, @chouinar

update to Next 14.2.3
  frontend/package-lock.json
  frontend/package.json
Owners: @andycochran, @acouch, @SammySteiner

fix typing on search tests
  frontend/tests/e2e/search/search.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

add delay for pagination debounce
  frontend/tests/e2e/search/searchSpecUtil.ts
Owners: @andycochran, @acouch, @SammySteiner

add pagination debounce wait for clicking last page
  frontend/tests/e2e/search/searchSpecUtil.ts
Owners: @andycochran, @acouch, @SammySteiner

[DO NOT MERGE - PROTOTYPE] [Issue #22] Prototype download endpoint
  api/.gitignore
  api/Makefile
  api/docker-compose.yml
  api/myfile.txt
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/response.py
  api/src/api/schemas/response_schema.py
  api/src/app.py
Owners: @jamesbursa, @chouinar

Update OpenAPI spec
  api/openapi.generated.yml
Owners: @jamesbursa, @chouinar

fix page reset test by selecting first
  frontend/tests/e2e/search/search.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

format
  frontend/tests/e2e/search/search.spec.ts
Owners: @andycochran, @acouch, @SammySteiner

ignore pa11y_output.txt
  frontend/.gitignore
Owners: @andycochran, @acouch, @SammySteiner

update package.json command
  frontend/package.json
Owners: @andycochran, @acouch, @SammySteiner

add a frontend server health check in ci
  .github/workflows/ci-frontend-a11y.yml
Owners: @aplybeah, @coilysiren

update package-lock to fix merge conflict
  frontend/package-lock.json
Owners: @andycochran, @acouch, @SammySteiner

update package-lock
  frontend/package-lock.json
Owners: @andycochran, @acouch, @SammySteiner

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren
