Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren

Add OpenSearch onboarding steps
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Add slightly different approach to installing poetry until I can confirm which is correct
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Markup "linter"-ish tweaks to existing content made by editing in VSCode with the MS Markdown plugin
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Add pointers to the DB migration and seed steps to help connect the dots
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Clarify pyhton install/setup instructions
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Typo
  frontend/README.md
Owners: @andycochran, @acouch, @SammySteiner

Tests, formatting, and more
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/search_schema.py
  api/src/search/search_models.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Owners: @jamesbursa, @chouinar

Minor comment adjustment
  api/src/services/opportunities_v1/search_opportunities.py
Owners: @jamesbursa, @chouinar

Remove subscribe pages
  frontend/src/app/[locale]/subscribe/SubscribeForm.tsx
  frontend/src/app/[locale]/subscribe/confirmation/page.tsx
  frontend/src/app/[locale]/subscribe/page.tsx
  frontend/src/app/[locale]/subscribe/unsubscribe/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Link to new search result
  frontend/src/components/search/SearchResultsListItem.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update opp page.tsx to not dupe breadcrumbs
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Improvements and edits from PR
  documentation/api/development.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Update layout.tsx
  frontend/src/app/layout.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update BaseAPI to make it generic
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/types/apiResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
Owners: @andycochran, @acouch, @SammySteiner

Update test
  frontend/tests/api/OpportunityListingApi.test.ts
Owners: @andycochran, @acouch, @SammySteiner

Update OpportunityIntro.test.tsx
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Hide opp page behind feature flag
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update OpportunityDescription.tsx to fix regex error
  frontend/src/components/opportunity/OpportunityDescription.tsx
Owners: @andycochran, @acouch, @SammySteiner

Lint fix
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
Owners: @andycochran, @acouch, @SammySteiner

updating commient
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

fixing formatting
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update README.md
  README.md
Owners: @acouch, @aplybeah, @chouinar, @SammySteiner
