Repository navapbc/simpler-grants-gov, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acouch, @aplybeah, @chouinar, @SammySteiner, @sumiat, @widal001, @andycochran, @jamesbursa, @ebuwa-evbuoma-fike, @coilysiren, @AlexanderStephensonUSDS

.github/CODEOWNERS:

# We are limiting this to 4 engineers and choosing not to select "Require review from Code Owners."
* @acouch @aplybeah @chouinar @SammySteiner

/documentation/ @sumiat @widal001 @andycochran @acouch @SammySteiner
/frontend/ @andycochran @acouch @SammySteiner
/api/ @jamesbursa @chouinar
/analytics/ @ebuwa-evbuoma-fike @coilysiren @widal001 @AlexanderStephensonUSDS

/infra/ @aplybeah @coilysiren
/bin/ @aplybeah @coilysiren
/.github/ @aplybeah @coilysiren

translation string update
  frontend/src/i18n/messages/en/index.ts
Owners: @andycochran, @acouch, @SammySteiner

[Issue #104] Refactor/restructure the transformation code
  api/src/data_migration/transformation/subtask/__init__.py
  api/src/data_migration/transformation/subtask/abstract_transform_subtask.py
  api/src/data_migration/transformation/subtask/transform_applicant_type.py
  api/src/data_migration/transformation/subtask/transform_assistance_listing.py
  api/src/data_migration/transformation/subtask/transform_funding_category.py
  api/src/data_migration/transformation/subtask/transform_funding_instrument.py
  api/src/data_migration/transformation/subtask/transform_opportunity.py
  api/src/data_migration/transformation/subtask/transform_opportunity_summary.py
  api/src/data_migration/transformation/transform_constants.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/models/staging/forecast.py
  api/src/db/models/staging/synopsis.py
  api/src/task/subtask.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/__init__.py
  api/tests/src/data_migration/transformation/subtask/test_transform_applicant_type.py
  api/tests/src/data_migration/transformation/subtask/test_transform_assistance_listing.py
  api/tests/src/data_migration/transformation/subtask/test_transform_funding_category.py
  api/tests/src/data_migration/transformation/subtask/test_transform_funding_instrument.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity.py
  api/tests/src/data_migration/transformation/subtask/test_transform_opportunity_summary.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
  api/tests/src/data_migration/transformation/test_transform_util.py
Owners: @jamesbursa, @chouinar

Removing a few more things that aren't needed anymore
  api/src/data_migration/transformation/transform_oracle_data_task.py
Owners: @jamesbursa, @chouinar

add more information and screenshots
  analytics/static/screenshot-metabase-page.png
  analytics/static/screenshot-metabase-row-data.png
  documentation/analytics/usage.md
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS, @sumiat, @andycochran, @acouch, @SammySteiner

typo
  documentation/analytics/usage.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

formatting
  documentation/analytics/usage.md
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

[Issue #125] Setup agency tables for transformation
  api/src/constants/lookup_constants.py
  api/src/db/foreign/__init__.py
  api/src/db/foreign/tgroups.py
  api/src/db/legacy_mixin/tgroups_mixin.py
  api/src/db/migrations/versions/2024_06_28_add_agency_related_tables.py
  api/src/db/models/__init__.py
  api/src/db/models/agency_models.py
  api/src/db/models/lookup_models.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/tgroups.py
  api/tests/src/db/models/factories.py
Owners: @jamesbursa, @chouinar

Update erd diagrams
  api/bin/create_erds.py
Owners: @jamesbursa, @chouinar

Add funding filter and update search filters
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterSection/SectionLinkCount.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterToggleAll.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
  frontend/src/app/[locale]/look/SearchFilterFundingInstrument.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
Owners: @andycochran, @acouch, @SammySteiner

Update to new search page
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterOptions.ts
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/app/[locale]/look/SearchFilterEligibility.tsx
  frontend/src/app/[locale]/look/SearchFilterFundingInstrument.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add search filters without separate component
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add agency to page and remove unnecessary components
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/app/[locale]/look/SearchFilterAccordion/filterJSONLists/agencyFilterList.ts
  frontend/src/app/[locale]/look/SearchFilterEligibility.tsx
  frontend/src/app/[locale]/look/SearchFilterFundingInstrument.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

add logging to import
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

report successes in cli
  analytics/src/analytics/cli.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update config.py
  analytics/config.py
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

Remove page tests
  frontend/tests/pages/index.test.tsx
  frontend/tests/pages/newsletter/confirmation.test.tsx
  frontend/tests/pages/newsletter/index.test.tsx
  frontend/tests/pages/newsletter/unsubscribe.test.tsx
  frontend/tests/pages/process.test.tsx
  frontend/tests/pages/research.test.tsx
  frontend/tests/pages/search.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Remove Layout test
  frontend/tests/components/Layout.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Cleanup
  api/bin/create_erds.py
  api/src/db/migrations/versions/2024_07_08_add_agency_related_tables.py
  api/src/db/models/agency_models.py
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
  documentation/api/database/erds/transfer-schema.png
Owners: @jamesbursa, @chouinar, @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

remove dynaconf settings; add pydantic settings
  analytics/config.py
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

Update API packages
  api/poetry.lock
Owners: @jamesbursa, @chouinar

fix tests
  analytics/config.py
  analytics/src/analytics/cli.py
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

remove dynaconf references
  analytics/.gitignore
  analytics/settings.toml
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

lint; update validators
  analytics/src/analytics/cli.py
  analytics/src/analytics/integrations/db.py
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update package
  analytics/poetry.lock
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update config
  analytics/config.py
  analytics/local.env
  analytics/src/analytics/cli.py
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

update config call
  analytics/config.py
  analytics/src/analytics/cli.py
  analytics/tests/integrations/test_slack.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

[Issue #106] Transform agency data
  api/src/data_migration/transformation/subtask/transform_agency.py
  api/src/data_migration/transformation/transform_constants.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/models/agency_models.py
  api/src/db/models/staging/staging_base.py
  api/src/db/models/staging/tgroups.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/test_transform_agency.py
  api/tests/src/db/models/factories.py
Owners: @jamesbursa, @chouinar

[Issue #138] Setup s3 localstack
  api/.gitignore
  api/Makefile
  api/bin/setup_localstack.py
  api/docker-compose.yml
  api/local.env
  api/pyproject.toml
  api/src/adapters/aws/__init__.py
  api/src/adapters/aws/s3_adapter.py
  api/src/util/file_util.py
Owners: @jamesbursa, @chouinar

Fix docker compose script
  api/Makefile
Owners: @jamesbursa, @chouinar

update call
  analytics/src/analytics/integrations/db.py
Owners: @ebuwa-evbuoma-fike, @coilysiren, @widal001, @AlexanderStephensonUSDS

Refresh versions
  api/poetry.lock
Owners: @jamesbursa, @chouinar

Update database ERD diagrams
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
  documentation/api/database/erds/staging-schema.png
  documentation/api/database/erds/transfer-schema.png
Owners: @sumiat, @widal001, @andycochran, @acouch, @SammySteiner

Clean up status WIP
  frontend/src/app/[locale]/look/QueryProvider.tsx
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add look for temp search page stand-in
  frontend/src/app/[locale]/look/SearchResultList.tsx
  frontend/src/app/[locale]/look/page.tsx
  frontend/src/app/services/search/FormDataService.ts
  frontend/src/app/services/search/SearchFilterManager.ts
  frontend/src/app/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/MockSearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/SearchFetcher.ts
  frontend/src/app/services/search/searchfetcher/SearchFetcherUtil.ts
  frontend/src/components/search/SearchCallToAction.tsx
Owners: @andycochran, @acouch, @SammySteiner

Format fixes
  frontend/src/app/[locale]/research/page.tsx
  frontend/src/app/[locale]/search/QueryProvider.tsx
  frontend/src/app/[locale]/search/error.tsx
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterOptions.ts
  frontend/src/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/components/search/SearchPaginationItem.tsx
  frontend/src/components/search/SearchPaginationLoader.tsx
  frontend/src/components/search/SearchResultList.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/hooks/useSearchParamUpdater.ts
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
  frontend/tests/components/search/SearchResultsHeader.test.tsx
  frontend/tests/components/search/SearchSortBy.test.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update SearchOpportunityAPI.ts
  frontend/src/app/api/SearchOpportunityAPI.ts
Owners: @andycochran, @acouch, @SammySteiner

Further Clean up status WIP
  frontend/src/app/[locale]/look/SearchBar.tsx
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Add search filters without separate component
  frontend/src/app/[locale]/look/SearchFilterAccordion/SearchFilterAccordion.tsx
  frontend/src/app/[locale]/look/page.tsx
Owners: @andycochran, @acouch, @SammySteiner

Re-add debounce for status
  frontend/src/app/[locale]/look/SearchOpportunityStatus.tsx
Owners: @andycochran, @acouch, @SammySteiner

Update page.tsx
  frontend/src/app/[locale]/search/page.tsx
Owners: @andycochran, @acouch, @SammySteiner
