Repository navapbc/simpler-grants-gov, pull requests merged in 2024-09, with the labels that each got.

#189 [Issue #188] More filters in search schema
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/extension/field_validators.py
  api/src/api/schemas/search_schema.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: api, python

#194 Update API packages
  api/poetry.lock
  api/pyproject.toml
Labels: api

#195 Update search query builder to support int and date range queries
  api/src/adapters/search/opensearch_query_builder.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
Labels: api, python

#190 Specify docker platform in composer
  .gitignore
  frontend/docker-compose.yml
  frontend/package-lock.json
  frontend/src/components/search/.SearchResultsHeader.tsx.swp
Labels: frontend

#193 [Issue #186] Onboarding Documentation Improvements
  documentation/api/development.md
  frontend/README.md
Labels: documentation, frontend

#127 [Issue #125] Setup agency tables for transformation
  api/bin/create_erds.py
  api/src/constants/lookup_constants.py
  api/src/db/foreign/__init__.py
  api/src/db/foreign/tgroups.py
  api/src/db/legacy_mixin/tgroups_mixin.py
  api/src/db/migrations/versions/2024_07_08_add_agency_related_tables.py
  api/src/db/models/__init__.py
  api/src/db/models/agency_models.py
  api/src/db/models/lookup_models.py
  api/src/db/models/staging/__init__.py
  api/src/db/models/staging/tgroups.py
  api/tests/lib/seed_local_db.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Labels: documentation, api, python, database

#180 [Issue #179] Incrementally load search data
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_response.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/backend/load_search_data.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Labels: api, python

#197 [Issue #178] Finish connecting new search parameters to backend queries
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/search_schema.py
  api/src/search/search_models.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: api, python

#157 [Issue #106] Transform agency data
  api/src/data_migration/transformation/subtask/transform_agency.py
  api/src/data_migration/transformation/transform_constants.py
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/data_migration/transformation/transform_util.py
  api/src/db/models/agency_models.py
  api/src/db/models/staging/staging_base.py
  api/src/db/models/staging/tgroups.py
  api/tests/src/data_migration/transformation/conftest.py
  api/tests/src/data_migration/transformation/subtask/test_transform_agency.py
  api/tests/src/db/models/factories.py
Labels: api, python, database

#199 Update layout.tsx to fix 404 not rendering
  frontend/src/app/layout.tsx
Labels: typescript, frontend

#196 [Issue #183] Opportunity Page Design Implementation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/[locale]/process/ProcessIntro.tsx
  frontend/src/app/[locale]/process/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/components/opportunity/OpportunityAwardGridRow.tsx
  frontend/src/components/opportunity/OpportunityAwardInfo.tsx
  frontend/src/components/opportunity/OpportunityDescription.tsx
  frontend/src/components/opportunity/OpportunityHistory.tsx
  frontend/src/components/opportunity/OpportunityIntro.tsx
  frontend/src/components/opportunity/OpportunityLink.tsx
  frontend/src/components/opportunity/OpportunityStatusWidget.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/constants/breadcrumbs.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/services/search/searchfetcher/APISearchFetcher.ts
  frontend/src/types/apiResponseTypes.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/types/search/searchResponseTypes.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/components/opportunity/OpportunityAwardGridRow.test.tsx
  frontend/tests/components/opportunity/OpportunityAwardInfo.test.tsx
  frontend/tests/components/opportunity/OpportunityDescription.test.tsx
  frontend/tests/components/opportunity/OpportunityHistory.test.tsx
  frontend/tests/components/opportunity/OpportunityIntro.test.tsx
  frontend/tests/components/opportunity/OpportunityLink.test.tsx
  frontend/tests/components/opportunity/OpportunityStatusWidget.test.tsx
Labels: typescript, frontend
