Repository navapbc/simpler-grants-gov, pull requests merged in 2024-06, with the labels that each got.

#67 [Issue #58] Locally, preserve the auth token in the OpenAPI across refreshes
  api/local.env
  api/src/app.py
  api/src/app_config.py
Labels: api, python

#53 [Issue #51]: debounce pagination
  frontend/src/components/search/SearchPagination.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: typescript, frontend

#65 [Issue #64] update to Next 14.2.3
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#72 [Task]: Finish adding Postgres Integration to Analytics Library
  analytics/config.py
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/settings.toml
  analytics/src/analytics/cli.py
  analytics/src/analytics/datasets/base.py
  analytics/src/analytics/integrations/db.py
Labels: python, analytics

#41 [Issue #40]: Setup pa11y-ci
  .github/workflows/ci-frontend-a11y.yml
  frontend/.gitignore
  frontend/.pa11yci.json
  frontend/bin/wait-for-frontend.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/search/page.tsx
Labels: typescript, shell, frontend, ci/cd

#89 [Issue #88] Adjust docker commands based on recent updates
  api/Makefile
  api/README.md
  api/docker-compose.debug.yml
  api/docker-compose.yml
  api/local.env
  docker-compose.yml
  frontend/docker-compose.yml
Labels: documentation, api, frontend, ci/cd

#83 [Issue #73]: Dynamic sitemap for pa11y-ci
  .github/workflows/ci-frontend-a11y.yml
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
  frontend/.pa11yci.json
  frontend/package.json
  frontend/src/app/[locale]/health/page.tsx
  frontend/src/app/sitemap.ts
  frontend/src/middleware.ts
  frontend/src/utils/getRoutes.ts
  frontend/tests/utils/getRoutes.test.ts
Labels: typescript, frontend, ci/cd

#97 [Issue #96]: Opportunity listing page (first pass)
  frontend/src/app/[locale]/opportunity/[id]/page.tsx
  frontend/src/app/api/BaseApi.ts
  frontend/src/app/api/OpportunityListingAPI.ts
  frontend/src/errors.ts
  frontend/src/i18n/messages/en/index.ts
  frontend/src/types/opportunity/opportunityResponseTypes.ts
  frontend/src/utils/getRoutes.ts
  frontend/src/utils/opportunity/isSummary.ts
  frontend/tests/api/OpportunityListingApi.test.ts
  frontend/tests/utils/getRoutes.test.ts
  frontend/tests/utils/isSummary.test.ts
Labels: typescript, frontend

#99 [Issue #74]: Pa11y API setup
  .github/workflows/ci-frontend-a11y.yml
  frontend/.pa11yci-desktop.json
  frontend/.pa11yci-mobile.json
Labels: ci/cd

#54 [Issue #14] Setup utils for creating requests and parsing responses from search
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_query_builder.py
  api/src/adapters/search/opensearch_response.py
  api/src/pagination/pagination_models.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/adapters/search/test_opensearch_query_builder.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Labels: api, python

#82 [Issue #24] Add GET /opportunity/:opportunityId/versions
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/db/models/opportunity_models.py
  api/src/services/opportunities_v1/get_opportunity.py
  api/src/task/opportunities/set_current_opportunities_task.py
  api/tests/lib/seed_local_db.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_get_versions.py
  api/tests/src/db/models/factories.py
  documentation/api/database/erds/api-schema.png
  documentation/api/database/erds/full-schema.png
Labels: api, python, database

#102 Update python packages
  api/openapi.generated.yml
  api/poetry.lock
Labels: api

#84 Add make sprint-data-import and issue-data-import to import github sprint and issue data to database
  .github/workflows/ci-analytics.yml
  .grype.yml
  analytics/Makefile
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/settings.toml
  analytics/src/analytics/cli.py
  analytics/tests/integrations/test_slack.py
Labels: ci/cd, python, analytics

#63 [Issue #16] Connect the API to use the search index
  api/openapi.generated.yml
  api/src/adapters/search/__init__.py
  api/src/adapters/search/flask_opensearch.py
  api/src/adapters/search/opensearch_client.py
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/response.py
  api/src/api/schemas/extension/schema_fields.py
  api/src/app.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/search_config.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/conftest.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: api, python
