Repository navapbc/simpler-grants-gov, pull requests merged in 2024-07, with the labels that each got.

#113 [Task]: Document the new steps for the analytics local database import
  analytics/static/screenshot-metabase-page.png
  analytics/static/screenshot-metabase-row-data.png
  documentation/analytics/usage.md
Labels: documentation, analytics

#130 Add Logging to Sprint import
  analytics/src/analytics/cli.py
Labels: python, analytics

#85 [Issue #134] Renable static rendering
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/newsletter/confirmation/page.tsx
  frontend/src/app/[locale]/newsletter/page.tsx
  frontend/src/app/[locale]/newsletter/unsubscribe/page.tsx
  frontend/src/app/[locale]/page.tsx
  frontend/src/app/[locale]/process/page.tsx
  frontend/src/app/[locale]/research/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/template.tsx
  frontend/src/components/Layout.tsx
  frontend/tests/components/Layout.test.tsx
  frontend/tests/pages/index.test.tsx
  frontend/tests/pages/newsletter/confirmation.test.tsx
  frontend/tests/pages/newsletter/index.test.tsx
  frontend/tests/pages/newsletter/unsubscribe.test.tsx
  frontend/tests/pages/process.test.tsx
  frontend/tests/pages/research.test.tsx
  frontend/tests/pages/search.test.tsx
Labels: typescript, frontend

#103 Adjust transformation deletes to handle cascading deletes
  api/src/data_migration/transformation/transform_oracle_data_task.py
  api/src/task/task.py
  api/tests/src/data_migration/transformation/test_transform_oracle_data_task.py
Labels: api, python

#136 [Task] Update analytics db to use local.env and Remove Dynaconf from Analytics
  analytics/.gitignore
  analytics/config.py
  analytics/local.env
  analytics/poetry.lock
  analytics/pyproject.toml
  analytics/settings.toml
  analytics/src/analytics/cli.py
  analytics/src/analytics/integrations/db.py
  analytics/tests/integrations/test_slack.py
Labels: python, analytics

#135 Update API packages
  api/poetry.lock
Labels: api

#161 [Issue #138] Setup s3 localstack
  api/.gitignore
  api/Makefile
  api/bin/setup_localstack.py
  api/docker-compose.yml
  api/local.env
  api/pyproject.toml
  api/src/adapters/aws/__init__.py
  api/src/adapters/aws/s3_adapter.py
  api/src/util/file_util.py
Labels: api, ci/cd, python

#87 [Issue #86] Download the search response as a CSV file
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/services/opportunities_v1/opportunity_to_csv.py
  api/src/services/opportunities_v1/search_opportunities.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
  api/tests/src/db/models/factories.py
Labels: api, python
