Repository navapbc/simpler-grants-gov, pull requests merged in 2024-08, with the labels that each got.

#168 [Task 163] Add post_date and close_date filters to search endpoint schema
  api/openapi.generated.yml
  api/src/api/opportunities_v1/opportunity_routes.py
  api/src/api/opportunities_v1/opportunity_schemas.py
  api/src/api/schemas/search_schema.py
  api/tests/src/api/opportunities_v1/conftest.py
  api/tests/src/api/opportunities_v1/test_opportunity_route_search.py
Labels: api, python

#169 [Issue #167] Fix search page string translation
  frontend/src/app/[locale]/search/page.tsx
  frontend/src/components/search/SearchBar.tsx
  frontend/src/components/search/SearchCallToAction.tsx
  frontend/src/components/search/SearchFilterAccordion/SearchFilterToggleAll.tsx
  frontend/src/components/search/SearchOpportunityStatus.tsx
  frontend/src/components/search/SearchResultsHeader.tsx
  frontend/src/components/search/SearchResultsListFetch.tsx
  frontend/src/components/search/SearchResultsListItem.tsx
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/i18n/messages/en/index.ts
  frontend/tests/components/search/SearchBar.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterAccordion.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterCheckbox.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SearchFilterSection.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkCount.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterSection/SectionLinkLabel.test.tsx
  frontend/tests/components/search/SearchFilterAccordion/SearchFilterToggleAll.test.tsx
  frontend/tests/components/search/SearchOpportunityStatus.test.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
  frontend/tests/components/search/SearchResultsHeader.test.tsx
  frontend/tests/components/search/SearchResultsListItem.test.tsx
  frontend/tests/components/search/SearchSortBy.test.tsx
Labels: typescript, frontend

#173 [Issue #170] Remove inline styling from pagination wrapper component
  frontend/src/components/search/SearchPagination.tsx
  frontend/src/styles/_loading.scss
Labels: typescript, frontend

#175 [Issue #174] Hide pagination component if no results are found
  frontend/src/components/search/SearchPagination.tsx
  frontend/tests/components/search/SearchPagination.test.tsx
Labels: typescript, frontend

#185 [Issue #184] Pin Python version to 3.12 + dependency updates
  api/Dockerfile
  api/README.md
  api/poetry.lock
  api/pyproject.toml
  documentation/api/package-dependency-management.md
Labels: documentation, api
