Repository navapbc/simpler-grants-gov, pull requests merged in 2024-05, with the labels that each got.

#1 [Issue #1757]: setup e2e tests for search
  .github/workflows/ci-frontend-e2e.yml
  .github/workflows/ci-frontend.yml
  api/.gitignore
  api/bin/wait-for-api.sh
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/search/SearchFilterAccordion/SearchFilterCheckbox.tsx
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchUtil.ts
  frontend/tests/playwright.config.ts
Labels: typescript, shell, api, frontend, ci/cd

#38 [Issue #37]: finish e2e tests
  frontend/README.md
  frontend/tests/e2e/search/search.spec.ts
  frontend/tests/e2e/search/searchSpecUtil.ts
Labels: documentation, typescript, frontend

#4 [Issue #1957]: sortby posted date desc default
  frontend/src/app/api/SearchOpportunityAPI.ts
  frontend/src/components/search/SearchSortBy.tsx
  frontend/src/types/search/searchRequestTypes.ts
  frontend/tests/components/search/SearchSortBy.test.tsx
Labels: typescript, frontend

#48 Upgrade dependencies for API (May 21, 2024)
  api/poetry.lock
Labels: api

#39 [Issue #9] Setup opensearch locally
  api/Makefile
  api/bin/wait-for-local-opensearch.sh
  api/docker-compose.yml
  api/local.env
  api/poetry.lock
  api/pyproject.toml
  api/src/adapters/search/__init__.py
  api/src/adapters/search/opensearch_client.py
  api/src/adapters/search/opensearch_config.py
  api/tests/conftest.py
  api/tests/src/adapters/search/__init__.py
  api/tests/src/adapters/search/test_opensearch.py
Labels: shell, api, ci/cd, python

#47 [Issue #10] Populate the search index from the opportunity tables
  api/src/adapters/search/__init__.py
  api/src/adapters/search/opensearch_client.py
  api/src/app.py
  api/src/search/__init__.py
  api/src/search/backend/__init__.py
  api/src/search/backend/load_opportunities_to_index.py
  api/src/search/backend/load_search_data.py
  api/src/search/backend/load_search_data_blueprint.py
  api/tests/conftest.py
  api/tests/src/adapters/search/test_opensearch.py
  api/tests/src/adapters/search/test_opensearch_client.py
  api/tests/src/search/__init__.py
  api/tests/src/search/backend/__init__.py
  api/tests/src/search/backend/test_load_opportunities_to_index.py
Labels: api, python

#57 [Issue 56]: Date rounding bug
  frontend/src/utils/dateUtil.ts
  frontend/tests/components/search/SearchResultsListItem.test.tsx
Labels: typescript, frontend
